.footer {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #545454;
  padding-top: 33px;
}

.footer__copyright{
  margin: 0;
}

@media screen and (max-width: 800px) {
  .footer {
    padding-top: 48px;
    max-width: 282px;
    font-size: 14px;
    line-height: 16.94px;
    margin: 0;
  }
}
