.header {
  min-height: 85px;
  display: flex;
  align-items: center;
}

.header::before {
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.7;
  background: #545454;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.header__icon {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 800px) {
  .header {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding-left: 40px;
  }

  .header::before {
    width: calc(100% + 40px);
  }

  .header__icon {
    height: 24px;
    width: 126px;
    top: 84px;
    border: 1px;
  }
}
