.header {
  min-height: 120px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  box-sizing: border-box;
  flex-shrink: 0;
}

.header__icon {
  height: 33px;
  width: 173px;
  object-fit: contain;
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 85px;
  }

  .header__icon {
    height: 24px;
    width: 126px;
    margin: 0 0 0 27px;
  }
}
